<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<style>
    img {max-width: {{ image_width }}px; height: auto}
    table, th, td {border: 1px solid black}
</style>
<body>
    <h2>{{ title }}</h2>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{ row.image_id }}</td>
                <td>{{ row.question_id }}</td>
                <td>
                    {% if show_im == 'True' %}
                        <img src="{{ row.image_url }}">
                        {{ show_im }}
                    {% endif %}
                </td>
                <td>{{ row.question }}</td>
                <td>
                    <ol start="0">
                    {% for choice in row.choices %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                    </ol>
                </td>
                <td>{{ row.answer }}</td>
                <td><a href="{{ row.anno_url }}">Open</a> </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>